<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <h1>Real-Time Network Topology Dashboard</h1>
    <a href="{{ url_for('add_topology') }}"><button>Add Network Topology</button></a>

    <div id="visualization"></div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
